.exportgallery {
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: space-evenly;
}
.exportgallery img {
  border-radius: 20px;
  border: 3px solid black;
}
