.Ayushmap {
  padding-top: 100px;
  margin: 0 auto;
  width: 50%;
  padding-bottom: 60px;
}
@media only screen and (max-width: 768px) {
  .Ayushmap iframe {
    width: 400px;
    height: 400px;
  }
}
.acontact {
  background-color: rgb(235, 248, 248);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  margin-bottom: 40px;
}
