.eyeform {
  padding-top: 90px;
  height: 70vh;
  display: flex;
  justify-content: space-around;
}
form label {
  margin-bottom: 10px;
  /* display: flex; */
}
form input {
  width: 200px;
  padding: 10px;
  margin-left: 100px;
}
textarea {
  width: 200px;

  margin-left: 67px;
}
form button {
  width: 200px;

  margin-left: 200px;
}
.btn {
  border: 2px solid green;
}
